@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-weight: normal;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
